body {
  margin: 0;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;



  transform: translate(-50%,-50%);
}

}

.jumbotron {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    left: 0;
    top:0;
    z-index:1;
}
.jumbotron h1 {
margin-top:0;
text-align: center;
color: rgb(124, 255, 23);
}
.jumbotron {
  position:relative;

  text-align: center;
  font-size: 28px;
  line-height: 2;
  color: rgb(124, 255, 23);
  font-family: 'Piedra', cursive;
}
.jumbotron .main-button-container {
  position:relative;

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index:2;
}

.timer-p {
  margin-top: 5px;
}

.answer:hover {
  background: pink;
}

.answer {

  height: 50px;
  color: black;

  background-color: (237, 1, 29);
  border-radius: 4px;
}


.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}
